<form action='/sessions/reset_passwords' method='post' >
  <input type='email' name='email' >
  <input type='password' name='new_password' >
  <input type='text' name='token' >
  <input type='submit' value='Submit' >
</form>
