
<form action='/users' method='post'>
  Email: <input type='text' name='email' value='<%= @user.email %>'/>
  enter password: <input type='password' name='password' />
  confirm password: <input type='password' name='password_confirmation' />
  <input type='submit' value='Sign Up' />
</form>
