<h1>Links containing the tag: '<%= @links %>'</h1>

<!-- list of links that match the filter -->
<ul id='links'>
  <li>
  Title: <%= @links.title %>
  <!-- currently not returning link info -->
  URL: <%= @links.url %>
  </li>
</ul>
