<h1> Welcome <%= @current_user if @current_user %>

<h1> Links </h1>

<form action="/links/new">
  <input type="submit" value="Save new link" />
</form>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
    </li>
  <% end %>
</u1>

<form action="/tags" method="post">
  <label>
    Filter tags:
    <input type='type' name='filter'/>
  </label>
  <input type="submit" value="Search" />
</form>
